//Variabili
$text-darkbg-color: #e7e6e4;
$text-lightbg-color: #F4F4FB;
$background-color:  #090924; //#05050F
$primary-color: #2a2a79;
$secondary-color: #131335;
$accent-color: #39399d;


//Extend/inheritance

//mixins

//Functions

//Animations

//Set text color based on bg
@function set-text-color($bg-color){
  @if(lightness($bg-color)>70){
    @return $text-lightbg-color;
  }
  @else{
    @return $text-darkbg-color;
}
}


//Rivedere metodo ordine colori e colori stessi. Rivedere anche gli stili del
//testo, link e buttons.
//Decorazione gradiente titoli? (esempio "Realtime Colors") 
//Pagina "errore" "pagina da aggiungere".
//Pagina contatti (QR ig?).

//PRIO
//Canonical Tags pagine seconda lingua
//Risposta automatica al ricevimento dell'email?
//Controllare mixins e extend ottimizzabili che siano semantici.
//srcset x schermi in resina?
//Sistemare pagine IG e LinkedIn.


//Js required?
//Function Dark Theme.
//Rifare dropdown scelta lingua.
//Da rivedere href card carusel.
//Bordo dei box nome e mail del form nella pagina contatti
//da rendere rosso (invalid) solo dopo il primo digit e non
//di base. 
//Provare a ri-aggiungere il reCaptcha?