//Variabili
$primary-color: black;
$secondary-color: #f78708;
$decoration-color: white;


//Extend/inheritance
%sliding {
  transition: margin-left 2s, margin-right 2s;
}

//mixins

//Functions



//
//@function set-theme-colors{
//@if(){
//}
//@else(){
//
//}
//}


//Da rivedere href more-about-me, decentrato verso il basso
//Da rivedere href card carusel

