.content{
  .title{
    font-size: 4em;
    color: $primary-color;
    font-style: italic;
    font-weight: bold;
  }
}

.sl-cv {
  opacity: 100%;
  width: auto;
  max-width: 80%;
  color: $primary-color;
  border: 1px solid $primary-color;
  background-color: #606060;
  border-radius: 15px;
  box-shadow: -5px 5px 10px 0px $secondary-color;
}

.sl-cv.sliding-l{
  margin-right: auto;
  border-bottom-left-radius: 0px;
}

.sl-cv.sliding-r{
  border-bottom-right-radius: 0px;
}

@media only screen and (max-width:992px) {
  .sl-cv{
    width: 60%;
  }
}