.content{
  h1{
    color: $decoration-color;
    text-shadow: 3px 3px 2px $secondary-color;
    font-size: 4em;
    font-style: italic;
    font-weight: bold;
  }

  h3 {
    color: $decoration-color;
  }

  p {
    font-size: 1.2em;
    color: white;
  }

  .introduction{
    img {
      width: 65%;
      border-radius: 50%;
      display: flex;
    }
    
    p{
      font-size: 1.5em;
    }
  }

  .interests{
    width: 90%;
    .interest-img{
      width: 45%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      object-fit: cover;
      display: flex;
    }
  }

  //p {
    
  //}
}


@media only screen and (max-width:992px) {
  .sl-cv{
    width: 60%;
  }
}