* {
    box-sizing: border-box;
}

@import "utilities";
@import "home";


html, body {
    background-color: #a970ff;
    font-family: "Lato", sans-serif;
}


.navbar-smart-btns {
    flex:2;
    margin-left: 50px;
}

.content {
    padding-top: 160px;
    padding-bottom: 60px;
}


.index {
    display: none;
    position: fixed;
    top: 80px;
    right: 30px;
    padding-top: 10px;
    padding-right: 13px;

    opacity: 75%;
    border-left: 2px solid lightgrey;
    ul{
        list-style: none;
        li a{
            text-decoration: none;
            color: $primary-color;
        }
    }
}